---
layout: bare
title: "Linux App Summit 2021"
permalink: /
---

<img src="assets/LAS2021-WebBanner-text.svg" style="margin: 0" />

<hr/>
<div class="las-banner" style="background-color: #121b86">
    <h2>ABOUT</h2>
    <p>
        The Linux App Summit (LAS) brings the global Linux community together to learn, collaborate, and help grow the Linux application ecosystem. Through talks, panels, and Q&amp;A sessions, we encourage attendees to share ideas, make connections, and join our goal of building a common app ecosystem.
    </p>

    <button class="button" onclick="window.location.href='/whatis'">Read More</button>
</div>

<hr/>
<div class="las-banner" style="background-color: white; color: black;">
    <h2>JOIN US</h2>
    <p>LAS 2021 will be held virtually and span across multiple time zones. Everyone is welcome!</p>

    <p>Registration for LAS 2021 is now open. There is no cost to attend LAS, but registration is required. To watch and participate in the event you'll need to login to our conference platform using a password-protected link. You'll receive this link after registering.</p>

    <p>We also welcome attendees to join the <a href="https://t.me/joinchat/Dbb0PlJjx4tPFCSu2dd7PA">LAS Telegram channel</a> and follow LAS on Twitter <a href="https://twitter.com/LinuxAppSummit">@linuxappsummit</a>. Remember to use our hashtag: <a href="https://twitter.com/search?q=%23las2021&amp;src=typed_query">#LAS2021</a>. Videos from LAS will be live-streamed on our <a href="https://www.youtube.com/channel/UCjSsbz2TDxIxBEarbDzNQ4w">YouTube channel</a>.</p>

    <button class="button" onclick="window.location.href='https://conf.linuxappsummit.org/event/3/registrations/6/'">Register</button> <button class="button" onclick="window.location.href='https://conf.linuxappsummit.org/event/3/timetable/#all'">Program</button>
</div>

<hr/>
<div class="las-banner" style="background-color: white; color: black">
    <h2>KEYNOTE SPEAKERS</h2>
    <p>
        <div>
            <img src="/assets/karenmsandler.png" style="height: 200pt; margin-left: 1cm; float: right; overflow:hidden;" alt="Karen" />
            <h3>Karen M. Sandler</h3>
            <p>
            Karen M. Sandler is the executive director of Conservancy. Karen is known as a cyborg lawyer for her advocacy for free software, particularly in relation to the software on medical devices. Prior to joining Conservancy, she was executive director of the GNOME Foundation. Before that, she was general counsel of the Software Freedom Law Center. Karen co-organizes Outreachy, the award-winning outreach program for women globally and for people of color who are underrepresented in US tech. Karen is a recipient of the O’Reilly Open Source Award and cohost of the oggcast Free as in Freedom.
            <a href="https://twitter.com/o0karen0o" title="@o0karen0o"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg></a>
            </p>
        </div>
    </p>

    <p style="clear: both; padding-top: 3cm">
        <img src="/assets/kg.png" style="height: 200pt; margin-right: 1cm; float: left" alt="Kathy" />
        <h3>Kathy Giori</h3>
        <p height=400px class=greg>
            Kathy fills her desk with hardware, especially microcontroller boards that can be programmed using MicroBlocks, a learning tool for physical computing. While at Mozilla, she worked on the WebThings Project, which successfully launched a "gateway" software stack that can run on a Raspberry Pi, and act as a hub for a myriad of smart home and IoT devices. She received her bachelor's degree in Electrical Engineering from the University of Minnesota, and her master's in EE from Stanford University. When not at a computer, she can usually be found exploring the great outdoors of northern California.

            <a href="https://twitter.com/kgiori" title="@kgiori"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg></a>
        </p>
    </p>
</div>


<hr/>

<div class="las-banner" style="background-color: white; color: black;">
    <h2>SPONSORS</h2>
    <div class="sponsors">
        <img src="/assets/canonical.png" alt="Canonical" />
        <img src="/assets/jingling.png" alt="JingLing"/>
        <img src="/assets/collabora.svg" alt="Collabora"/>
        <img src="/assets/codethink.svg" alt="Codethink"/>
        <img src="/assets/opensuse.png" alt="openSUSE"/>
        <img src="/assets/mbition.svg" alt="MBition"/>
        <img src="/assets/fedora.svg" alt="Fedora"/>
        <img src="/assets/tuxedo.svg" alt="Tuxedo" />
        <img src="/assets/pine.png" alt="Pine64"/>
        <img src="/assets/shells.png" alt="Shells"/>
        <img src="/assets/slimbook.svg" alt="Slimbook"/>
        <img src="/assets/gitlab.svg" alt="GitLab"/>
        <img src="/assets/redhat.png" alt="Red Hat" />
        <img src="/assets/itrenew.jpg" alt="ITRenew"/>
    </div>
    <button class="button" onclick="window.location.href='/sponsors'">Learn More</button>
</div>

<hr/>
